@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.container {
    max-width: 1024px;
}
.header {
    background-color: #030303;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 130px;
}
.header_label {
    display: flex;
    flex-direction: row;
}
.header_label_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 0px 0px 25px;
}
.header_menu {
    display: flex;
    flex-direction: row;
}
.header_menu_menu {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 0px 15px;
}
.main_content {
    background-color: #030303;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}
.main_content_welcome {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}
.main_content_welcome_wel {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 50px 0px 25px 0px ;
}
.main_content_welcome_discr {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 0px 0px 50px 0px;
    width: 450px;
}
.main_content_welcome_button {
    width: 300px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #710707;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.main_content_picture {
    position: relative;
    z-index: 1;
    right: 175px;
    padding: 0px 0px 132px 0px ;
}
.tour_content {
    padding: 0px 20px;
}
.tour_content_header {
    display: flex;
    flex-direction: column;
}
.tour_content_header_name {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    padding: 60px 0px 20px 0px ;
}
.tour_content_header_line {
    border: 1.5px solid #710707;
    background-color: #710707;
}
.tour_content_list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 60px 0px ;
}
.tour_content_list_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tour_content_list_row_point {
    display: flex;
    flex-direction: column;
}
.tour_content_list_row_pic {
    margin: 60px 0px 25px 0px; 
}
.tour_content_list_row_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
}
.tour_content_list_row_line {
    border: 1px solid #710707;
    width: 150px;
    margin: 10px 0px 10px 0px ;
    background-color: #710707;
}
.tour_content_list_row_observ {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.tour_content_list_row_viev {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 10px 0px 0px 0px ;
}
.pictureEx {
    background-color: #030303;;
    width: 984px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column
}
.pictureEx_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 20px 0px ;
}
.pictureEx_line {
    border: 1px solid #710707;
    background-color: #710707;
}
.pictureEx_discription_first {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 60px 0px 0px 0px;  
}
.pictureEx_discription_second {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    margin: 0px 0px 62px 0px;
}
.pictureEx_discription_second span{
    color: goldenrod;
}
.pictureEx_picture {
    align-self: center;
}
.video_journey {
    padding: 60px 20px 112px 20px;
}
.videoJour_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 0px 0px 40px 0px ;
}
.videoJour_video iframe {
    width: 984px;
    height: 555px;

}
.videoJour_video_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.videoJour_video_list_first {
    margin: 40px 0px 0px 0px;
}
.art_galery {
    background: #030303;
    padding: 60px 20px;
}
.artGal_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0px 0px 110px 0px;
}
.artGal_photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.artGal_photo_first_row {
    display: flex;
    flex-direction: column;
}
.artGal_photo_first_photo {
    margin: 12px 0px;
}
.artGal_photo_second_row {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
}
.artGal_photo_third_row {
    display: flex;
    flex-direction: column;
}
.tickets_buy_block {
    padding: 0px 20px;
}
.tickets_block_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 60px 0px 0px 0px;
}
.tickets_block_line {
    border: 1px solid #710707;
    background-color: #710707;
    margin: 20px 0px 60px 0px ;
}
.tickets_block_buy_buy {
    margin: 0px 0px 60px 0px;
    display: flex;
    flex-direction: row;
}
.tickets_block_buy_buy_pic {
    margin: 0px 80px 0px 0px ;
}
.tickets_block_buy_buy_amount_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}
.tickets_block_buy_buy_amount_total {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
}
.tickets_block_buy_buy_amount_button {
    border: 1px solid #000000;
    width: 175px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.tickets_amount_young {
    margin: 30px 0px 0px 0px;
}
.tickets_amount_young_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0px 0px 10px 0px;
}
.tickets_amount_young_count {
    border: 3px solid #000000;
    width: 175px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tickets_amount_young_count_minus {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.tickets_amount_young_count_count {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.tickets_amount_young_count_plus {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.tickets_block_buy_buy_amount_total {
    margin: 25px 0px 67px 0px;
}
.contacts_block {
    padding: 0px 20px;
}
.contacts_block_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin: 60px 0px 0px 0px;
}
.contacts_block_line {
    border: 1px solid #710707;
    background: #710707;
    margin: 20px 0px 60px 0px;
}
.contacts_block_requisites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts_block_requisites_list_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0px 0px 30px 0px ;  
}
.contacts_block_requisites_list_adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 5px 0px 10px 0px;
}
.contacts_block_requisites_list_phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    margin: 5px 0px 10px 0px;
}
.contacts_block_requisites_list_mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 5px 0px 10px 0px;
}
.contacts_block_requisites_map {
    margin: 0px 0px 62px 0px;
}
.footer_footer {
    background-color: #030303;
    padding: 60px 0px 50px 0px;
}
.footer_footer_first {
    display: flex;
    flex-direction: row;
    padding: 0px 20px ;
}
.footer_footer_first_title {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 3px 45px 0px 25px;
}
.footer_footer_first_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    
}
.footer_footer_first_list_first_colomn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_footer_first_list_first_colomn_point {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 5px 0px 20px 0px ;

}
.footer_footer_first_social {
    display: flex;
    flex-direction: row;
    align-self: end;
    margin: 0px 0px 20px 0px

}
.footer_footer_first_social_y {
    border: 1px solid #666666;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 25px;
}
.footer_footer_first_social_y_pic {
    position: relative;
    top: 2px;
}
.footer_footer_second {
    border: 1px solid #666666;
    margin: 30px 0px 50px 0px;
}
.footer_footer_third {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.footer_footer_third_year {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
